Brightswipe is a <i>torrent indexer</i>.</p>

<p>
  Wikipedia defines a torrent indexer as an "index of files potentially accessible via the BitTorrent protocol." Brightswipe aims to collect torrent files, convert them into magnet links, and present them and their metadata in a friendly interface.
</p>

<p>
  This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US" target="_blank">Creative Commons Attribution-NonCommercial 3.0 Unported</a> License. For attribution, please clearly mention my name and my website, <a href="http://bernsteinbear.com" target="_blank">Bernstein Bear</a>.
