<body>

<%= erb :upcont, :layout => false %>
<%= erb :home, :layout => false %>
<%= erb :searchlist, :layout => false %>

<div id="overlay"></div>

<script src="/js/main.js" type="text/javascript"></script>
</body>

