<script src="/js/main.js" type="text/javascript"></script>
<div id="credits">
  By <a href="http://bernsteinbear.com" target="_blank">Max Bernstein</a>. Designed by <a href="http://madebyargon.com" target="_blank">Ashraful Sheikh</a>, and implemented by <a href="http://egegorgulu.com" target="_blank">Ege G&ouml;rg&uuml;l&uuml;</a>. <a href="http://github.com/tekknolagi/indexer" target="_blank">Code</a> on GitHub.
</div>

</body>
</html>
