<link rel='stylesheet' type='text/css' href='/css/index.css' />

<title>Brightswipe</title>

<div class='body'>

<div class='logo'>
<span class='bright'>Bright</span><span class='swipe'>swipe</span>
</div>