<div id="home" class="bd">
  <img src="/img/logo.png" class="main-logo" alt="" />
  <div class="search">
    <ul class="nav">
      <li class="selected">Home</li>
      <li>Popular</li>
      <li>New</li>
    </ul>
    <form action="">
      <input type="text" name="search" /><button onClick="return false;" id="home-search" class="btn-blue">Search</button>
    </form>
  </div>
</div>
