<html>
<%= erb :header, :layout => false %>
<body>
<div id="home" class="bd landing">
  <img src="/img/logo.png" class="main-logo" alt="" />
  <div class="comingsoon">
    Coming soon.
  </div>
</div>

<div id="overlay"></div>

<script src="/js/main.js" type="text/javascript"></script>
</body>
<%= erb :footer, :layout => false %>
</html>
